body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1f1f1;
    color: rgb(248, 172, 7);
    text-align: left;
    padding: 1rem 0 0.2rem 0;
    font-size: 1.7rem; 
}

.header-mobile-text {
    font-weight: 600;
    font-size: 2rem;
}


.nav-link.active {
    color: orange !important;
    font-weight: bold;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

main {
    padding: 2rem;
}

.text-tab-header{
    font-size: 1.0rem;
    text-transform: uppercase;
    color:rgb(151, 172, 249)
}


.tab-pane{
    display: none;
}

.tab-pane.active{
    display: block;
}

.tab-content {
    margin-left: 1rem;
    margin-right: 1rem;
}


.slim-dropdown-btn {
    padding: 2px 6px;
    font-size: 12px;
}
  
.slim-dropdown-menu {
    font-size: 12px;
}


.indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.graph-container {
    width: 100%;
    height: 400px;
}

.graph-container-analysis{
    position: relative;
    width: 100%;
    height: 800px ;
}


footer {
    background-color: #f1f1f1;
    color: rgb(196, 196, 196);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* Default font size for desktop */
.responsive-text {
    font-size: 1.5rem; 
}

@media screen and (max-width: 767px) {
    .responsive-text {
      font-size: 0.8rem; /* Smaller font size for mobile devices */
    }
    
    .header-mobile-text {
        font-size: 2rem;
        font-weight: bold
    }    
}

@media screen and (max-width: 767px) {
    .header-mobile-text {
        font-size: 2rem;
        font-weight: bold
    }
}


.slider.slider-horizontal {
    width: 100%;
    height: 30px;
}

.slider .tooltip.bs-tooltip-top {
    margin-top: -44px;
    position: absolute;
}